<div class="bootstrap-wrapper">

    <div class="container">

        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">

                        <img src="../../../assets/logo.jpg" alt="">
                    </div>
                    <h1 class="text-center">LogIn Here !!</h1>
                    
                    <form (ngSubmit)="formSubmit()">
                        <!--Username field-->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>User Name</mat-label>
                            <input [(ngModel)]="loginData.username" name="username" matInput placeholder="Enter here"
                                required>
                            <mat-hint>Username must be unique..!!!</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>User Password</mat-label>
                            <input [(ngModel)]="loginData.password" name="password" matInput placeholder="Enter here"
                                required>
                            <!--<mat-hint>Username must be unique..!!!</mat-hint> -->
                        </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button type="submit" color="primary">Login</button>
                            <button style="margin-left: 20px;" mat-raised-button type="reset"
                                color="accent">Reset</button>
                        </div>

                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>