<h1>Questions Of {{qTitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                
                <button 
                [routerLink]="'/admin/add-questions/'+qId+'/'+qTitle"
                mat-raised-button color="primary"><mat-icon mat-list-icon>add</mat-icon>Add Question</button>
            </div>
           <mat-card *ngFor="let q of questions; let i = index" class="mt20">

            <mat-card-content>

                <p>
                    <b >Q{{i+1}}</b>
                    <span  [innerHTML]="q.content" class="ml20"></span>
                </p>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p>(1) {{q.option1}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>(2) {{q.option2}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>(3) {{q.option3}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>(4) {{q.option4}}</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <p class="mt20"><b>Correct Answer:-</b>{{q.answer}}</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button  mat-raised-button color="primary" class="text-center">Update</button>
                <button (click)="deleteQuestions(q.questionid)" mat-raised-button color="accent" class="text-center">Delete</button>
                
            </mat-card-actions>
           </mat-card>
        </div>
        
    </div>
    
</div>